*{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    width: 100%;
    height: 100%;
}

.container .img{
    background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
    object-fit: cover;
    width: 40vw;
    height: 100vh;
    background-size: 100% 100%;  
}

.container .sidebar{
    width: 70vw;
    height: 95vh;
    display: grid;
    align-items: center;

}
fieldset{
    border: none;

}

.form-container{
    display: grid;
    grid-template-columns:repeat(2,300px) ;
    grid-template-rows: repeat();
    gap: 50px;
    height: 40vh;
    justify-content: center;
    align-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);

}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
